html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body,div{font-size:0;}
p,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none}}@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
#body{background-color:rgb(255,255,255);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:960px;min-height:92px;}
.cont{z-index:10;border:0;background-color:rgb(64,64,64);}
.pos-2{position:relative;margin-top:32px;}
.vis-2{display:block;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-3{position:relative;margin-left:671px;margin-top:0;}
.size-2{min-width:186px;width:186px;min-height:24px;}
.cont-2{z-index:11;}
.para{padding-top:0;text-indent:0;margin-top:2.53pt;margin-bottom:-2.53pt;padding-right:0;text-align:left;}
.font{font-family:"Andale Mono", AndaleMono, monospace;font-size:11.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(42,161,152);line-height:17.72pt;letter-spacing:normal;}
.pos-4{position:relative;margin-top:0;}
.size-3{width:100%;min-width:960px;min-height:522px;}
.cont-3{z-index:9;border:0;background-image:url(../images/xvvv3e3eznmx-3840.jpg);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 50%;background-clip:padding-box;}
.pos-5{position:relative;margin-top:159px;}
.pos-6{position:relative;margin-left:380px;margin-top:0;}
.size-4{min-width:200px;width:200px;min-height:150px;height:150px;}
.cont-4{z-index:12;}
.img{position:absolute;left:25px;width:150px;height:150px;top:0;border-radius:75px;border:0;}
.img-2{left:25px;width:150px;height:150px;top:0;}
.pos-7{position:relative;margin-left:-580px;margin-top:162px;}
.size-5{min-width:1px;width:1px;min-height:1px;}
.pos-8{position:relative;margin-left:314px;margin-top:171px;}
.size-6{min-width:331px;width:331px;min-height:76px;}
.cont-5{z-index:13;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font-2{font-family:"Andale Mono", AndaleMono, monospace;font-size:45.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:51.47pt;letter-spacing:normal;}
.pos-9{position:relative;margin-top:-8px;}
.size-7{width:100%;min-width:960px;min-height:106px;height:106px;}
.cont-6{z-index:1;border:0;background-color:rgb(184,200,210);}
.pos-10{position:relative;margin-top:-64px;}
.pos-11{position:relative;margin-left:100px;margin-top:0;}
.size-8{min-width:759px;width:759px;min-height:39px;}
.pos-12{position:relative;margin-left:0;margin-top:0;}
.size-9{min-width:118px;width:118px;min-height:39px;}
.cont-8{z-index:4;}
.button{border:0;border-radius:10px;background-color:rgb(221,237,247);}
.button:hover{background-color:rgb(130,147,158);border-color:rgb(0,0,0);color:rgb(0,0,0);}
.button:active{background-color:rgb(82,100,111);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.vis-3{display:inline-block;overflow:hidden;outline:0;}
.size-10{width:118px;height:27px;}
.font-3{font-family:"Andale Mono", AndaleMono, monospace;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:10.12pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:12px;margin-top:0;margin-bottom:0;}
.pos-14{position:relative;margin-left:43px;margin-top:0;}
.size-11{min-width:118px;width:118px;min-height:39px;}
.cont-9{z-index:8;}
.button-2{border:0;border-radius:10px;background-color:rgb(221,237,247);}
.button-2:hover{background-color:rgb(130,147,158);border-color:rgb(0,0,0);color:rgb(0,0,0);}
.button-2:active{background-color:rgb(82,100,111);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.size-12{width:118px;height:27px;}
.font-4{font-family:"Andale Mono", AndaleMono, monospace;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:10.12pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:12px;margin-top:0;margin-bottom:0;}
.pos-15{position:relative;margin-left:46px;margin-top:0;}
.size-13{min-width:118px;width:118px;min-height:39px;}
.cont-10{z-index:5;}
.size-14{width:118px;height:27px;}
.font-5{font-family:"Andale Mono", AndaleMono, monospace;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:10.12pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:12px;margin-top:0;margin-bottom:0;}
.pos-16{position:relative;margin-left:38px;margin-top:0;}
.cont-11{z-index:7;}
.pos-17{position:relative;margin-left:42px;margin-top:0;}
.cont-12{z-index:6;}
.pos-18{position:relative;margin-left:251px;margin-top:22px;}
.size-15{min-width:459px;width:459px;min-height:93px;}
.pos-19{position:relative;margin-left:0;margin-top:2px;}
.size-16{min-width:139px;width:139px;min-height:88px;height:88px;}
.cont-13{z-index:14;}
.anchor{display:block;width:139px;}
.img-3{position:absolute;left:26px;width:88px;height:88px;top:0;border:0;}
.img-4{left:26px;width:88px;height:88px;top:0;}
.pos-20{position:relative;margin-left:37px;margin-top:8px;}
.size-17{min-width:114px;width:114px;min-height:79px;height:79px;}
.cont-14{z-index:15;}
.anchor-2{display:block;width:114px;}
.img-5{position:absolute;left:18px;width:79px;height:79px;top:0;border:0;}
.img-6{left:18px;width:79px;height:79px;top:0;}
.pos-21{position:relative;margin-left:29px;margin-top:0;}
.size-18{min-width:140px;width:140px;min-height:93px;height:93px;}
.cont-15{z-index:16;}
.anchor-3{display:block;width:140px;}
.img-7{position:absolute;left:24px;width:93px;height:93px;top:0;border:0;}
.img-8{left:24px;width:93px;height:93px;top:0;}
.pos-22{position:relative;margin-left:-314px;margin-top:170px;}
.size-19{min-width:169px;width:169px;min-height:82px;}
.cont-16{z-index:2;}
.para-3{padding-top:0;text-indent:0;margin-top:5.74pt;margin-bottom:-5.74pt;padding-right:0;text-align:left;}
.font-6{font-family:"Andale Mono", AndaleMono, monospace;font-size:25.50pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(0,0,0);line-height:40.16pt;letter-spacing:normal;}
.pos-23{position:relative;margin-left:-167px;margin-top:259px;}
.size-20{min-width:164px;width:164px;min-height:85px;height:85px;}
.cont-17{z-index:23;}
.img-9{position:absolute;left:40px;width:85px;height:85px;top:0;border-radius:21px;border:0;}
.img-10{left:40px;width:85px;height:85px;top:0;}
.pos-24{position:relative;margin-left:163px;margin-top:14px;}
.size-21{min-width:634px;width:634px;min-height:117px;}
.cont-18{z-index:17;}
.para-4{padding-top:0;text-indent:0;margin-top:3.67pt;margin-bottom:-3.67pt;padding-right:0;text-align:center;}
.font-7{font-family:"Istok Web";font-size:12.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:25.69pt;letter-spacing:normal;}
.pos-25{position:relative;margin-top:64px;}
.size-22{width:100%;min-width:960px;min-height:610px;}
.cont-19{z-index:3;border:0;background-image:url(../images/amwthvw-320-1.jpg);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;box-shadow:0 2px 4px rgba(0,0,0,0.4);}
.pos-26{position:relative;margin-top:26px;}
.pos-27{position:relative;margin-left:55px;margin-top:0;}
.size-23{min-width:876px;width:876px;min-height:536px;}
.pos-28{position:relative;margin-left:0;margin-top:459px;}
.size-24{min-width:170px;width:170px;min-height:26px;}
.cont-20{z-index:20;}
.button-3{border:0;border-radius:7px;background-color:rgb(42,161,152);}
.button-3:hover{background-color:rgb(38,139,210);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.button-3:active{background-color:rgb(42,161,152);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.size-25{width:170px;height:21px;}
.font-8{font-family:"Istok Web";font-size:7.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:11.88pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:5px;margin-top:0;margin-bottom:0;}
.pos-29{position:relative;margin-left:-163px;margin-top:0;}
.size-26{min-width:342px;width:342px;min-height:459px;}
.colwrapper{line-height:0;}
.pos-30{position:relative;margin-left:0;margin-top:0;}
.size-27{min-width:248px;width:248px;min-height:127px;}
.cont-21{z-index:18;}
.para-5{padding-top:0;text-indent:0;margin-top:9.79pt;margin-bottom:-9.79pt;padding-right:0;text-align:left;}
.font-9{font-family:"Andale Mono", AndaleMono, monospace;font-size:43.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(42,161,152);line-height:68.51pt;letter-spacing:normal;}
.pos-31{position:relative;margin-left:0;margin-top:-10px;}
.size-28{min-width:342px;width:342px;min-height:342px;}
.cont-22{z-index:19;}
.para-6{padding-top:0;text-indent:0;margin-top:4.10pt;margin-bottom:-4.10pt;padding-right:0;text-align:left;}
.font-10{font-family:"Istok Web";font-size:14.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:28.72pt;letter-spacing:normal;}
.pos-32{position:relative;margin-left:107px;margin-top:27px;}
.size-29{min-width:420px;width:420px;min-height:509px;height:509px;}
.cont-23{z-index:22;}
.img-11{position:absolute;left:67px;width:286px;height:509px;top:0;border:0;}
.img-12{left:67px;width:286px;height:509px;top:0;}
.pos-33{position:relative;margin-top:-610px;}
.pos-34{position:relative;margin-left:0;margin-top:0;}
.pos-35{position:relative;margin-top:609px;}
.size-30{width:100%;min-width:960px;min-height:236px;}
.cont-24{z-index:24;border:0;background-color:rgb(64,64,64);}
.pos-36{position:relative;margin-top:39px;}
.pos-37{position:relative;margin-left:402px;margin-top:0;}
.size-31{min-width:535px;width:535px;min-height:85px;}
.cont-25{z-index:37;}
.para-7{padding-top:0;text-indent:0;margin-top:6.75pt;margin-bottom:-6.75pt;padding-right:0;text-align:left;}
.font-11{font-family:"Andale Mono", AndaleMono, monospace;font-size:30.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(42,161,152);line-height:47.25pt;letter-spacing:normal;}
.pos-38{position:relative;margin-left:569px;margin-top:18px;}
.size-32{min-width:178px;width:178px;min-height:25px;}
.cont-26{z-index:39;}
.button-4{border:0;border-radius:7px;background-color:rgb(108,113,196);}
.button-4:hover{background-color:rgb(42,161,152);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.button-4:active{background-color:rgb(42,161,152);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.size-33{width:178px;height:23px;}
.font-12{font-family:"Istok Web";font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:14.25pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:2px;margin-top:0;margin-bottom:0;}
.pos-39{position:relative;margin-top:-236px;}
.pos-40{position:relative;margin-left:10px;margin-top:0;}
.size-34{min-width:322px;width:322px;min-height:239px;height:239px;}
.cont-27{z-index:38;}
.img-13{position:absolute;left:2px;width:319px;height:239px;top:0;border:0;}
.img-14{left:2px;width:319px;height:239px;top:0;}
.pos-41{position:relative;margin-top:-3px;}
.size-35{width:100%;min-width:960px;min-height:633px;}
.cont-28{z-index:21;border:0;background-image:url(../images/rpattern_shop_preview-320-1.jpg);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-42{position:relative;margin-top:46px;}
.size-36{min-width:907px;width:907px;min-height:509px;}
.pos-43{position:relative;margin-left:0;margin-top:0;}
.size-37{min-width:545px;width:545px;min-height:509px;height:509px;}
.cont-29{z-index:28;}
.img-15{position:absolute;left:103px;width:339px;height:509px;top:0;border:0;}
.img-16{left:103px;width:339px;height:509px;top:0;}
.pos-44{position:relative;margin-left:42px;margin-top:4px;}
.size-38{min-width:320px;width:320px;min-height:450px;}
.pos-45{position:relative;margin-left:53px;margin-top:0;}
.size-39{min-width:175px;width:175px;min-height:64px;}
.cont-30{z-index:25;}
.para-8{padding-top:0;text-indent:0;margin-top:-2.45pt;margin-bottom:2.45pt;padding-right:0;text-align:left;}
.font-13{font-family:"Andale Mono", AndaleMono, monospace;font-size:43.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:44.04pt;letter-spacing:normal;}
.pos-46{position:relative;margin-left:0;margin-top:83px;}
.size-40{min-width:320px;width:320px;min-height:303px;}
.cont-31{z-index:26;}
.para-9{padding-top:0;text-indent:0;margin-top:4.10pt;margin-bottom:-4.10pt;padding-right:0;text-align:left;}
.font-14{font-family:"Istok Web";font-size:14.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:28.72pt;letter-spacing:normal;}
.pos-47{position:relative;margin-left:0;margin-top:-46px;}
.size-41{min-width:170px;width:170px;min-height:26px;}
.cont-32{z-index:27;}
.size-42{width:170px;height:21px;}
.font-15{font-family:"Istok Web";font-size:7.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:11.88pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:5px;margin-top:0;margin-bottom:0;}
.pos-48{position:relative;margin-top:-633px;}
.pos-49{position:relative;margin-top:632px;}
.size-43{width:100%;min-width:960px;min-height:201px;}
.cont-33{z-index:29;border:0;background-color:rgb(64,64,64);}
.pos-50{position:relative;margin-top:77px;}
.pos-51{position:relative;margin-left:1px;margin-top:0;}
.size-44{min-width:814px;width:814px;min-height:72px;}
.size-45{min-width:552px;width:552px;min-height:72px;}
.cont-34{z-index:43;}
.para-10{padding-top:0;text-indent:0;margin-top:4.56pt;margin-bottom:-4.56pt;padding-right:0;text-align:center;}
.font-16{font-family:"Andale Mono", AndaleMono, monospace;font-size:20.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(38,139,210);line-height:31.89pt;letter-spacing:normal;}
.para-11{padding-top:0;text-indent:0;margin-top:2.53pt;margin-bottom:-2.53pt;padding-right:0;text-align:center;}
.font-17{font-family:"Andale Mono", AndaleMono, monospace;font-size:11.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(38,139,210);line-height:17.72pt;letter-spacing:normal;}
.pos-52{position:relative;margin-left:84px;margin-top:11px;}
.size-46{min-width:178px;width:178px;min-height:25px;}
.cont-35{z-index:44;}
.button-5{border:0;border-radius:7px;background-color:rgb(220,50,47);}
.button-5:hover{background-color:rgb(203,75,22);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.button-5:active{background-color:rgb(42,161,152);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.size-47{width:178px;height:23px;}
.font-18{font-family:"Istok Web";font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:14.25pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:2px;margin-top:0;margin-bottom:0;}
.pos-53{position:relative;margin-top:7px;}
.pos-54{position:relative;margin-left:194px;margin-top:0;}
.size-48{min-width:568px;width:568px;min-height:76px;}
.cont-36{z-index:30;}
.para-12{padding-top:0;text-indent:0;margin-top:6.07pt;margin-bottom:-6.07pt;padding-right:0;text-align:center;}
.font-19{font-family:"Andale Mono", AndaleMono, monospace;font-size:27.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:42.52pt;letter-spacing:normal;}
.pos-55{position:relative;margin-left:0;margin-top:0;}
.size-49{min-width:932px;width:932px;min-height:504px;}
.size-50{min-width:320px;width:320px;min-height:486px;}
.pos-56{position:relative;margin-left:0;margin-top:0;}
.size-51{min-width:320px;width:320px;min-height:216px;height:216px;}
.cont-37{z-index:32;}
.img-17{position:absolute;left:52px;width:216px;height:216px;top:0;border:0;}
.img-18{left:52px;width:216px;height:216px;top:0;}
.pos-57{position:relative;margin-left:29px;margin-top:-199px;}
.size-52{min-width:263px;width:263px;min-height:469px;}
.size-53{min-width:263px;width:263px;min-height:469px;height:469px;}
.cont-38{z-index:31;border:0;border-radius:7px;background-color:rgb(221,237,247);box-shadow:-7px 9px 4px rgba(0,0,0,0.4);}
.pos-58{position:relative;margin-left:15px;margin-top:-319px;}
.size-54{min-width:233px;width:233px;min-height:303px;}
.size-55{min-width:233px;width:233px;min-height:293px;}
.cont-39{z-index:35;}
.para-13{padding-top:0;text-indent:0;margin-top:2.81pt;margin-bottom:-2.81pt;padding-right:0;text-align:center;}
.font-20{font-family:"Istok Web";font-size:9.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:19.65pt;letter-spacing:normal;}
.pos-59{position:relative;margin-left:82px;margin-top:-11px;}
.size-56{min-width:65px;width:65px;min-height:21px;}
.cont-40{z-index:46;}
.button-6{border:0;border-radius:7px;background-color:rgb(42,161,152);}
.button-6:hover{background-color:rgb(42,161,152);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.button-6:active{background-color:rgb(42,161,152);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.size-57{width:65px;height:17px;}
.font-21{font-family:"PT Mono";font-size:7.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:9.24pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:4px;margin-top:0;margin-bottom:0;}
.pos-60{position:relative;margin-left:0;margin-top:-21px;}
.cont-41{z-index:34;}
.pos-61{position:relative;margin-left:0;margin-top:-303px;}
.cont-42{z-index:33;}
.pos-62{position:relative;margin-left:9px;margin-top:0;}
.size-58{min-width:299px;width:299px;min-height:486px;}
.pos-63{position:relative;margin-left:0;margin-top:0;}
.size-59{min-width:299px;width:299px;min-height:211px;height:211px;}
.cont-43{z-index:49;}
.img-19{position:absolute;left:44px;width:211px;height:211px;top:0;border:0;}
.img-20{left:44px;width:211px;height:211px;top:0;}
.pos-64{position:relative;margin-left:30px;margin-top:-194px;}
.size-60{min-width:263px;width:263px;min-height:469px;}
.pos-65{position:relative;margin-left:0;margin-top:0;}
.cont-44{z-index:48;border:0;border-radius:7px;background-color:rgb(221,237,247);box-shadow:-7px 9px 4px rgba(0,0,0,0.4);}
.pos-66{position:relative;margin-left:9px;margin-top:-293px;}
.size-61{min-width:233px;width:233px;min-height:293px;}
.size-62{min-width:233px;width:233px;min-height:293px;}
.cont-45{z-index:50;}
.pos-67{position:relative;margin-left:80px;margin-top:-36px;}
.cont-46{z-index:51;}
.pos-68{position:relative;margin-left:41px;margin-top:17px;}
.size-63{min-width:263px;width:263px;min-height:487px;}
.cont-47{z-index:36;border:0;border-radius:7px;background-color:rgb(221,237,247);box-shadow:-7px 9px 4px rgba(0,0,0,0.4);}
.pos-69{position:relative;margin-left:51px;margin-top:-439px;}
.size-64{min-width:173px;width:173px;min-height:122px;height:122px;}
.cont-48{z-index:52;}
.img-21{position:absolute;left:26px;width:122px;height:122px;top:0;border:0;}
.img-22{left:26px;width:122px;height:122px;top:0;}
.pos-70{position:relative;margin-left:15px;margin-top:-275px;}
.size-65{min-width:233px;width:233px;min-height:293px;}
.size-66{min-width:233px;width:233px;min-height:293px;}
.cont-49{z-index:54;}
.font-22{font-family:"Istok Web";font-size:9.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(64,64,64);line-height:19.65pt;letter-spacing:normal;}
.pos-71{position:relative;margin-left:83px;margin-top:-55px;}
.size-67{min-width:65px;width:65px;min-height:21px;}
.cont-50{z-index:53;}
.size-68{width:65px;height:17px;}
.font-23{font-family:"PT Mono";font-size:7.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:9.24pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:4px;margin-top:0;margin-bottom:0;}
.pos-72{position:relative;margin-left:-932px;margin-top:564px;}
.pos-73{position:relative;margin-left:182px;margin-top:564px;}
.size-69{min-width:600px;width:600px;min-height:178px;}
.pos-74{position:relative;margin-left:0;margin-top:0;}
.size-70{min-width:600px;width:600px;min-height:83px;}
.cont-51{z-index:40;}
.para-14{padding-top:0;text-indent:0;margin-top:6.75pt;margin-bottom:-6.75pt;padding-right:0;text-align:center;}
.font-24{font-family:"Andale Mono", AndaleMono, monospace;font-size:30.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:47.25pt;letter-spacing:normal;}
.pos-75{position:relative;margin-left:63px;margin-top:-6px;}
.size-71{min-width:463px;width:463px;min-height:101px;}
.pos-76{position:relative;margin-left:0;margin-top:6px;}
.cont-52{z-index:41;}
.pos-77{position:relative;margin-left:24px;margin-top:0;}
.size-72{min-width:139px;width:139px;min-height:101px;height:101px;}
.cont-53{z-index:42;}
.anchor-4{display:block;width:139px;}
.img-23{position:absolute;left:19px;width:101px;height:101px;top:0;border:0;}
.img-24{left:19px;width:101px;height:101px;top:0;}
.pos-78{position:relative;margin-left:21px;margin-top:4px;}
.size-73{min-width:140px;width:140px;min-height:93px;height:93px;}
.cont-54{z-index:45;}
.anchor-5{display:block;width:140px;}
.img-25{position:absolute;left:24px;width:93px;height:93px;top:0;border:0;}
.img-26{left:24px;width:93px;height:93px;top:0;}
.pos-79{position:relative;margin-top:96px;}
.size-74{width:100%;min-width:960px;min-height:57px;}
.cont-55{z-index:47;border:0;background-color:rgb(184,200,210);}
.pos-80{position:relative;margin-top:6px;}
.pos-81{position:relative;margin-left:332px;margin-top:0;}
.size-75{min-width:293px;width:293px;min-height:46px;}
.cont-56{z-index:55;}
.para-15{padding-top:0;text-indent:0;margin-top:3.54pt;margin-bottom:-3.54pt;padding-right:0;text-align:left;}
.font-25{font-family:"Andale Mono", AndaleMono, monospace;font-size:15.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:24.81pt;letter-spacing:normal;}
@media (max-width:959px) {
.size{min-width:320px;min-height:50px;}
.pos-2{margin-top:14px;}
.section{min-width:320px;width:320px;}
.pos-3{margin-left:92px;}
.size-2{min-width:138px;width:138px;min-height:23px;}
.para{margin-top:1.86pt;margin-bottom:-1.86pt;}
.font{font-size:8.25pt;line-height:12.99pt;}
.pos-4{margin-top:-18px;}
.size-3{min-width:320px;min-height:431px;}
.pos-5{margin-top:93px;}
.pos-6{margin-left:102px;}
.size-4{min-width:116px;width:116px;min-height:103px;height:103px;}
.img{left:7px;width:103px;height:103px;border-radius:52px;}
.img-2{left:7px;width:103px;height:103px;}
.pos-7{margin-left:-218px;margin-top:161px;}
.pos-8{margin-left:104px;margin-top:122px;}
.size-6{min-width:110px;width:110px;min-height:25px;}
.font-2{font-size:15.00pt;line-height:16.88pt;}
.pos-9{margin-top:-54px;}
.size-7{min-width:320px;min-height:35px;height:35px;}
.pos-10{margin-top:-286px;}
.pos-11{margin-left:20px;}
.size-8{min-width:84px;width:84px;min-height:212px;}
.pos-12{margin-top:136px;}
.size-9{min-width:37px;width:37px;min-height:76px;}
.size-10{width:37px;height:42px;}
.font-3{font-size:5.25pt;line-height:5.91pt;padding-top:34px;}
.pos-14{margin-left:20px;margin-top:71px;}
.size-11{min-width:27px;width:27px;min-height:7px;}
.button-2{border-radius:4px;}
.size-12{width:27px;height:7px;}
.font-4{font-size:5.25pt;line-height:5.91pt;padding-top:0;}
.pos-15{margin-left:30px;margin-top:-176px;}
.size-13{min-width:34px;width:34px;min-height:59px;}
.size-14{width:34px;height:34px;}
.font-5{font-size:5.25pt;line-height:5.91pt;padding-top:25px;}
.pos-16{margin-left:32px;margin-top:-212px;}
.pos-17{margin-left:19px;margin-top:-124px;}
.pos-18{margin-left:44px;margin-top:-67px;}
.size-15{min-width:234px;width:234px;min-height:56px;}
.pos-19{margin-top:0;}
.size-16{min-width:68px;width:68px;min-height:56px;height:56px;}
.anchor{width:68px;}
.img-3{left:6px;width:56px;height:56px;}
.img-4{left:6px;width:56px;height:56px;}
.pos-20{margin-left:20px;margin-top:2px;}
.size-17{min-width:62px;width:62px;min-height:53px;height:53px;}
.anchor-2{width:62px;}
.img-5{left:5px;width:53px;height:53px;}
.img-6{left:5px;width:53px;height:53px;}
.pos-21{margin-left:8px;margin-top:2px;}
.size-18{min-width:76px;width:76px;min-height:54px;height:54px;}
.anchor-3{width:76px;}
.img-7{left:11px;width:54px;height:54px;}
.img-8{left:11px;width:54px;height:54px;}
.pos-22{margin-left:101px;margin-top:84px;}
.size-19{min-width:118px;width:118px;min-height:53px;}
.para-3{margin-top:3.88pt;margin-bottom:-3.88pt;}
.font-6{font-size:17.25pt;line-height:27.17pt;}
.pos-23{margin-left:-85px;margin-top:128px;}
.size-20{min-width:54px;width:54px;min-height:29px;height:29px;}
.img-9{left:13px;width:29px;height:29px;border-radius:15px;}
.img-10{left:13px;width:29px;height:29px;}
.pos-24{margin-left:28px;margin-top:0;}
.size-21{min-width:266px;width:266px;min-height:217px;}
.para-4{margin-top:2.81pt;margin-bottom:-2.81pt;}
.font-7{font-size:9.75pt;line-height:19.65pt;}
.pos-25{margin-top:-31px;}
.size-22{min-width:320px;min-height:396px;}
.pos-26{margin-top:31px;}
.pos-27{margin-left:9px;}
.size-23{min-width:306px;width:306px;min-height:322px;}
.pos-28{margin-top:296px;}
.size-24{min-width:97px;width:97px;}
.size-25{width:97px;height:19px;}
.font-8{font-size:5.25pt;line-height:8.31pt;padding-top:7px;}
.pos-29{margin-left:0;margin-top:-322px;}
.size-26{min-width:229px;width:229px;min-height:296px;}
.pos-30{margin-left:72px;}
.size-27{min-width:157px;width:157px;min-height:64px;}
.para-5{margin-top:5.57pt;margin-bottom:-5.57pt;}
.font-9{font-size:24.75pt;line-height:38.98pt;}
.pos-31{margin-top:38px;}
.size-28{min-width:158px;width:158px;min-height:194px;}
.para-6{margin-top:2.16pt;margin-bottom:-2.16pt;}
.font-10{font-size:7.50pt;line-height:15.11pt;}
.pos-32{margin-left:156px;margin-top:-244px;}
.size-29{min-width:150px;width:150px;min-height:233px;height:233px;}
.img-11{left:9px;width:131px;height:233px;}
.img-12{left:9px;width:131px;height:233px;}
.pos-33{margin-top:-719px;}
.pos-35{margin-top:718px;}
.size-30{min-width:320px;min-height:172px;}
.pos-36{margin-top:25px;}
.pos-37{margin-left:27px;}
.size-31{min-width:263px;width:263px;min-height:31px;}
.para-7{margin-top:3.21pt;margin-bottom:-3.21pt;}
.font-11{font-size:14.25pt;line-height:22.44pt;}
.pos-38{margin-left:179px;margin-top:38px;}
.size-32{min-width:72px;width:72px;min-height:24px;}
.size-33{width:72px;height:17px;}
.font-12{font-size:4.50pt;line-height:7.13pt;padding-top:7px;}
.pos-39{margin-top:-106px;}
.pos-40{margin-left:37px;}
.size-34{min-width:108px;width:108px;min-height:80px;height:80px;}
.img-13{left:1px;width:107px;height:80px;}
.img-14{left:1px;width:107px;height:80px;}
.pos-41{margin-top:26px;}
.size-35{min-width:320px;min-height:420px;}
.pos-42{margin-top:41px;}
.size-36{min-width:282px;width:282px;min-height:348px;}
.pos-43{margin-top:63px;}
.size-37{min-width:132px;width:132px;min-height:224px;height:224px;}
.img-15{left:0;width:132px;height:198px;top:13px;}
.img-16{left:0;width:132px;height:198px;top:13px;}
.pos-44{margin-left:6px;margin-top:-287px;}
.size-38{min-width:276px;width:276px;min-height:348px;}
.pos-45{margin-left:97px;}
.size-39{min-width:112px;width:112px;min-height:45px;}
.para-8{margin-top:-1.52pt;margin-bottom:1.52pt;}
.font-13{font-size:27.00pt;line-height:27.34pt;}
.pos-46{margin-left:153px;margin-top:35px;}
.size-40{min-width:123px;width:123px;min-height:268px;}
.para-9{margin-top:2.38pt;margin-bottom:-2.38pt;}
.font-14{font-size:8.25pt;line-height:16.63pt;}
.pos-47{margin-top:-69px;}
.size-41{min-width:122px;width:122px;min-height:28px;}
.size-42{width:122px;height:22px;}
.font-15{font-size:6.75pt;line-height:10.69pt;padding-top:6px;}
.pos-48{margin-top:-827px;}
.pos-49{margin-top:826px;}
.size-43{min-width:320px;min-height:112px;}
.pos-50{margin-top:13px;}
.pos-51{margin-left:47px;}
.size-44{min-width:223px;width:223px;min-height:85px;}
.size-45{min-width:223px;width:223px;min-height:56px;}
.para-10{margin-top:1.86pt;margin-bottom:-1.86pt;}
.font-16{font-size:8.25pt;line-height:12.99pt;}
.para-11{margin-top:1.86pt;margin-bottom:-1.86pt;}
.font-17{font-size:8.25pt;line-height:12.99pt;}
.pos-52{margin-left:76px;margin-top:9px;}
.size-46{min-width:72px;width:72px;min-height:20px;}
.size-47{width:72px;height:16px;}
.font-18{font-size:5.25pt;line-height:8.31pt;padding-top:4px;}
.pos-53{margin-top:-679px;}
.pos-54{margin-left:28px;margin-top:708px;}
.size-48{min-width:262px;width:262px;min-height:74px;}
.para-12{margin-top:3.54pt;margin-bottom:-3.54pt;}
.font-19{font-size:15.75pt;line-height:24.81pt;}
.pos-55{margin-left:38px;margin-top:-12px;}
.size-49{min-width:254px;width:254px;min-height:1209px;}
.size-50{min-width:252px;width:252px;min-height:409px;}
.pos-56{margin-left:24px;}
.size-51{min-width:195px;width:195px;min-height:152px;height:152px;}
.img-17{left:22px;width:152px;height:152px;}
.img-18{left:22px;width:152px;height:152px;}
.pos-57{margin-left:0;margin-top:-110px;}
.size-52{min-width:252px;width:252px;min-height:367px;}
.size-53{min-width:252px;width:252px;min-height:367px;height:367px;}
.pos-58{margin-left:34px;margin-top:-298px;}
.size-54{min-width:173px;width:173px;min-height:292px;}
.size-55{min-width:173px;width:173px;min-height:270px;}
.para-13{margin-top:2.38pt;margin-bottom:-2.38pt;}
.font-20{font-size:8.25pt;line-height:16.63pt;}
.pos-59{margin-left:62px;margin-top:0;}
.size-56{min-width:50px;width:50px;min-height:22px;}
.size-57{width:50px;height:21px;}
.font-21{font-size:11.25pt;line-height:13.86pt;padding-top:1px;}
.pos-60{margin-top:-22px;}
.pos-61{margin-top:-292px;}
.pos-62{margin-left:2px;margin-top:17px;}
.size-58{min-width:252px;width:252px;min-height:783px;}
.pos-63{margin-left:43px;}
.size-59{min-width:154px;width:154px;min-height:157px;height:157px;}
.img-19{left:0;width:154px;height:154px;top:1px;}
.img-20{left:0;width:154px;height:154px;top:1px;}
.pos-64{margin-left:0;margin-top:11px;}
.size-60{min-width:252px;width:252px;min-height:615px;}
.pos-65{margin-top:248px;}
.pos-66{margin-left:33px;margin-top:-615px;}
.size-61{min-width:173px;width:173px;min-height:218px;}
.size-62{min-width:173px;width:173px;min-height:116px;}
.pos-67{margin-left:62px;margin-top:80px;}
.pos-68{margin-left:1px;margin-top:-758px;}
.size-63{min-width:252px;width:252px;min-height:744px;}
.pos-69{margin-left:57px;margin-top:46px;}
.size-64{min-width:126px;width:126px;min-height:82px;height:82px;}
.img-21{left:22px;width:82px;height:82px;}
.img-22{left:22px;width:82px;height:82px;}
.pos-70{margin-left:29px;margin-top:25px;}
.size-65{min-width:182px;width:182px;min-height:224px;}
.size-66{min-width:182px;width:182px;min-height:189px;}
.font-22{font-size:8.25pt;line-height:16.63pt;}
.pos-71{margin-left:65px;margin-top:8px;}
.size-67{min-width:54px;width:54px;min-height:27px;}
.size-68{width:54px;height:22px;}
.font-23{font-size:9.75pt;line-height:12.01pt;padding-top:5px;}
.pos-72{margin-left:-292px;margin-top:-751px;}
.pos-73{margin-left:44px;margin-top:1228px;}
.size-69{min-width:230px;width:230px;min-height:137px;}
.pos-74{margin-left:2px;}
.size-70{min-width:226px;width:226px;min-height:62px;}
.para-14{margin-top:4.89pt;margin-bottom:-4.89pt;}
.font-24{font-size:21.75pt;line-height:34.26pt;}
.pos-75{margin-left:0;margin-top:8px;}
.size-71{min-width:230px;width:230px;min-height:67px;}
.pos-76{margin-top:5px;}
.pos-77{margin-left:4px;}
.size-72{min-width:84px;width:84px;min-height:67px;height:67px;}
.anchor-4{width:84px;}
.img-23{left:9px;width:67px;height:67px;}
.img-24{left:9px;width:67px;height:67px;}
.pos-78{margin-left:2px;margin-top:3px;}
.size-73{min-width:72px;width:72px;min-height:60px;height:60px;}
.anchor-5{width:72px;}
.img-25{left:6px;width:60px;height:60px;}
.img-26{left:6px;width:60px;height:60px;}
.pos-79{margin-top:21px;}
.size-74{min-width:320px;min-height:19px;}
.pos-80{margin-top:2px;}
.pos-81{margin-left:110px;}
.size-75{min-width:98px;width:98px;min-height:15px;}
.para-15{margin-top:1.18pt;margin-bottom:-1.18pt;}
.font-25{font-size:5.25pt;line-height:8.27pt;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-19{background-image:url(../images/amwthvw-640-1.jpg);}
}
@media (min-width:320px) {
.cont-19{background-image:url(../images/amwthvw-480-1.jpg);}
.cont-28{background-image:url(../images/rpattern_shop_preview-480-1.jpg);}
}
@media (min-width:320px) and (-webkit-min-device-pixel-ratio:2),(min-width:320px) and (min-resolution:192dpi) {
.cont-19{background-image:url(../images/amwthvw-960-1.jpg);}
}
@media (min-width:480px) {
.cont-19{background-image:url(../images/amwthvw-768-1.jpg);}
.cont-28{background-image:url(../images/rpattern_shop_preview-768-1.jpg);}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:2),(min-width:480px) and (min-resolution:192dpi) {
.cont-19{background-image:url(../images/amwthvw-1536-1.jpg);}
}
@media (min-width:768px) {
.cont-19{background-image:url(../images/amwthvw-960-2.jpg);}
.cont-28{background-image:url(../images/rpattern_shop_preview-960.jpg);}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2),(min-width:768px) and (min-resolution:192dpi) {
.cont-19{background-image:url(../images/amwthvw-1920.jpg);}
}
@media (min-width:960px) {
.cont-19{background-image:url(../images/amwthvw-1200.jpg);}
.cont-28{background-image:url(../images/rpattern_shop_preview-1200.jpg);}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.cont-19{background-image:url(../images/amwthvw-2400.jpg);}
}
@media (min-width:1200px) {
.cont-19{background-image:url(../images/amwthvw-1600.jpg);}
.cont-28{background-image:url(../images/rpattern_shop_preview-1600.jpg);}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-19{background-image:url(../images/amwthvw-3200.jpg);}
}
@media (min-width:1600px) {
.cont-19{background-image:url(../images/amwthvw-2000.jpg);}
.cont-28{background-image:url(../images/rpattern_shop_preview-2000.jpg);}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.cont-19{background-image:url(../images/amwthvw-4000.jpg);}
}
