Package: co.quartzy.publicbeta
Name: Quartzy-Public Beta Dark
Version: 1.0.2
Architecture: iphoneos-arm
Description: Quartzy Public-Beta, Dark icons only, full version coming soon!
Homepage: https://drippnvvs.github.io
Maintainer: drippnvvs <drippnvvs@gmail.com>
Author: drippnvvs <drippnvvs@gmail.com>
Section: Themes
