Package: co.dynastic.themes.quartzy
Name: Quartzy-beta
Version: 1.0-b1
Architecture: iphoneos-arm
Description: Quartzy-beta. Colored, Dark, and Glyph themed crystal icons.
Depiction:
Homepage: https://drippnvvs.github.io
Maintainer: drippnvvs <drippnvvs@gmail.com>
Author: drippnvvs <drippnvvs@gmail.com>
Section: Themes
